
body {
    font-family: 'Inter', sans-serif;
    background-color: #F7F7F7;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 29;
}

.main-content {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    width: 100%;
    text-align: center;
}

.input-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

textarea {
    width: 45%;
    height: 100px;
    margin-right: 10px;
    border-radius: 4px;
    padding: 10px;
    border: 1px solid #ccc;
    resize: none;
}

.buttons {
    display: flex;
    justify-content: center;
}

button {
    background-color: #6C63FF;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 0 10px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #5A55E3;
}

.footer {
    background-color: #A393D8;
    padding: 20px;
    text-align: center;
    color: white;
    margin-top: auto;
    width: 100%;
}

.encriptador__enlaces img {
    width: 20px;
    margin-top: 10px;
}
